<% 
	content_for :title do "Dados do Usuario" end
%>

<h1>Mostrar Usuário</h1>


<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Sobrenome:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>
<p>
  <%= link_to "Edit", edit_admin_user_path(@user), :class => "button secondary" %>
  <%= link_to "Destroy", admin_user_path(@user), :class => "button secondary", :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View All", admin_users_path, :class => "button secondary" %>
</p>
