<% 
	content_for :title do "Login" end
%>
<%content_for :head do%>
<%= stylesheet_link_tag "login"%>
<script>
	var htmlold = "";
	
	function novoConteudo(){
		
		htmlold = jQuery('box_login').html();
		jQuery.ajax({
			url: '/users/new',
		    type:'get',
			beforeSend: function (){
				jQuery('#loading-forgot').show();
			},
		    success: function(response){
				jQuery('#loading-forgot').hide();
				jQuery('#box_login').html(response); 
		    },
		    error: function(){ 
				alert('Falha ao carregar a página!') ;
				jQuery('#loading-forgot').hide();
			}
		  })
	}

	function voltaConteudo(){
		jQuery('BoxContent').update(htmlold); 
		htmlold = "";		
	}

</script>
<%end%>
<div id="box_login">
	<%= form_for @user_session, :remote => true do |f| %>
		<div id="flash_error_login" style="display:none;"></div>
		<p>
			<%= f.label :email, "Email" %><br />
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password, "Senha" %><br />
			<%= f.password_field :password %>
		</p>
		<br />
		<p><%= f.submit "Enviar", :class => "Bt_enviar" %></p>
		<%= image_tag "loading.gif", :style => 'display:none;', :id => 'loading-forgot' %>
		<br />
		<p class="EsqueciSenha">
			<%= link_to "esqueci a senha", "#", :onclick=>"novoConteudo()" %>
		</p>
	<% end %>
</div>
