<%content_for :head do%>
<script>
	var htmlold = "";
	
	function novoConteudo(){
		htmlold = $('BoxContent').innerHTML;
		new Ajax.Request('/password_resets/new',
		  {
		    method:'get',
			onLoading: function (mostrarLoading){
				$('loading-forgot').show();
			},
			onLoaded: function (mostrarResposta){
				$('loading-forgot').hide();
			},
		    onSuccess: function(transport){
		      var response = transport.responseText || "Falha";
		      //alert("Success! \n\n" + response);
			$('BoxContent').update(response); 
		    },
		    onFailure: function(){ alert('Falha ao carregar a página!') }
		  })
	}
	
	function voltaConteudo(){
		$('BoxContent').update(htmlold); 
		htmlold = "";		
	}

</script>
<%end%>
<div id="box_login">
	<%= form_for @user_session, :remote => true do |f| %>
		<p>
			<%= f.label :email, "Email" %><br />
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password, "Senha" %><br />
			<%= f.password_field :password %>
		</p>
		<p><%= f.submit "Enviar" %></p>
		<%= image_tag "loading.gif", :style => 'display:none;', :id => 'loading-forgot' %>
		<p class="EsqueciSenha">
			<%= link_to "esqueci a senha", "#", :onclick=>"novoConteudo()" %>
		</p>
	<% end %>
</div>
