<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clínica Saraiva <%=yield :title%></title>

<%= stylesheet_link_tag "reset"%>
<%= stylesheet_link_tag "style"%>
<%= stylesheet_link_tag "queries"%>

<%= javascript_include_tag :defaults %>

<%=yield :head%>

</head>
<body>
	<%=render :file => "layouts/_menu.html.erb"%>
	
    <div id='container'>
		<%=yield%>
    	

        
		
		

        

		<!-- FOOTER -->
        <div id="border-box2-top"></div>
        <div id='footer'>
        	<div id='footer-content'>
            	<div id="footer-left">
                    <h1>Envie-nos um e-mail!</h1>
                    <p>contato@clinicasaraiva.com.br</p>
                    <h1>Ligue para nós!</h1>
                    <p>11 4411 6464</p>
                    <p>11 4411 2880</p>
                </div>
                <div id="footer-right">
                	<h1>Visite-nos!</h1>
                    <p>Alameda Prof. Lucas Nogueira Garcez, 3525<br />Bairro Vila Giglio - 12947-000<br />Atibaia - São Paulo</p>
                    <img src="images/img_mapa.png" />
                </div>
            </div>
        </div>
		<!-- FOOTER -->
    </div>
</body>
</html>
